body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #5b4fbd;
}

header, nav, footer {
    text-align: center;
}

header {
    background-color: #3f37a3;
}

header h1 {
    margin: 0; 
    font-size: 2.5em;

}


nav {
    background-color: #4a42b5;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding: 15px 25px;

}

nav a {
    text-decoration: none;
    color: #0a0816;
    font-weight: bold;
}

nav a:hover {
    color: #d794c4; 
}

.hero img {
    width: 100%;
    max-height: 400px; 
}

.intro {
    padding: 40px;
    max-width: 800px;
}

.tips-section {
    padding: 50px 20px;
}

.media-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    gap: 20px;
}

.media-left img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.media-right video {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.flour-text {
    margin: 40px 0 20px 0;
    font-size: 18px;
}

.flour-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
}

.flour-row img {
    width: 30%;
    border-radius: 10px;
}

.recipe {
    margin: 60px 0;
    padding: 30px;
    background-color: #d794c4;
    border-radius: 12px;
}

.recipe-text{
    flex: 1;
    text-align: left; 
}

.recipe h2 {
    text-align: center;
    margin-bottom: 20px;
}

.ingredients h3,
.instructions h3 {
    margin-top: 20px;
}

.ingredients ul {
    margin-bottom: 15px;
}

.instructions ol {
    padding-left: 20px;
}

.recipe-image {
    display: block;
    margin: 30px auto 0 auto;
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
}

.recipe-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-top: 20px;
}

.recipe-text {
    flex: 1;
}

.recipe-image-container {
    flex: 1;
    text-align: center;
}

.recipe-image-container img {
    width: 100%;
    max-width: 450px;
    border-radius: 12px;
}

footer {
    background-color:  #d794c4;
    padding: 15px;
    color:  #0a0816 ;
    margin-top: 40px;
}